{% extends "myapp/base.html" %}

{% block csrftoken %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock csrftoken %}

{% block start %}
<div class="container">
        <div class="card">
        <h3>Upload Files</h3>
       
        <div class="drop_box">
            <header>
            <h4>Select File here</h4>
            </header>
            <p>Files Supported: JPEG, PNG, JPG </p>
            <input type="file" id="fileID" style="display:none;">
            {% if isDownload %}
                <a href="{% url "download" %}" class="btn" id="download-btn">Download</a>
            {% else %}
                <button class="btn" id="filebutton">Choose File</button>
            {% endif %}
            <p class="message" id="msg"></p>
        </div>
    </div>
</div>



{% endblock start %}